html {
    font-size: 62.5%;
    -webkit-text-size-adjust: 100%;
    -webkit-font-smoothing: antialiased;
}
*, *::before, *::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    font-family: "Inter", sans-serif;
    color: hsl(0, 0%, 100%);
    background-color: hsl(228, 100%, 58%);
    overflow-x: hidden;
}
.img {
    width: .4rem;
    height: .4rem;
}
.siteHeader {
    font-size: 2.5rem;
    height: 8rem;
    padding: 3rem 5rem;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    color: hsl(0, 0%, 90%);
    border-bottom: 1px solid hsl(224, 100%, 58%);
    background-color: hsl(228, 100%, 60%);
    display: block;
    align-items: center;
    z-index: 1000;
}
.siteName {
    font-size: 1.7rem;
    text-decoration: none;
    padding: 0;
    margin: 0;
    display: flex;
    align-items: center;
}
.siteIcon {
    font-size: 2.5rem;
    padding-bottom: .5rem;
    margin-right: .5rem;
    color: hsl(0, 0%, 100%);
}
.menuToggle {
    display: none;
}
.menuIcon {
    position: absolute;
    top: 2.5rem;
    right: 3rem;
    font-size: 3rem;
    cursor: pointer;
}
.closeIcon {
    position: absolute;
    top: 2rem;
    right: 3rem;
    font-size: 3rem;
    display: none;
}
.navigationList {
    position: absolute;
    top: 100%;
    right: 0;
    background-color: hsl(228, 100%, 60%);
    display: none;
}
.navigationList ul{
    padding: 3rem 0;
    text-align: center;
}
.navigationList li {
    list-style: none;
    padding: 1rem 0;
}
.menuToggle:checked ~ .menuIcon {
    display: none;
}
.menuToggle:checked ~ .closeIcon {
    display: block;
}
.menuToggle:checked ~ .navigationList {
    display: block;
}
.siteHeader:has(.menuToggle:checked) ~ main::before {
    content: "";
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.5);
}
.mainContent {
    width: 100%;
    margin-top: 8rem;
}
.hero {
    padding: 6rem 2.5rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    border-bottom: 1px solid hsl(224, 100%, 70%);
}
.hero h1 {
    font-size: 4.5rem;
    font-weight: 400;
    margin-bottom: 1rem;
    color: hsl(0, 0%, 100%);
}
.hero p {
    font-size: 1.8rem;
    line-height: 1.7;
    color: hsl(224, 100%, 90%);
    margin-top: 1rem;
}
.statOne {
    font-size: 1.5rem;
    line-height: 1.5;
    padding: 2rem 2.5rem;
    border-bottom: 1px solid hsl(224, 100%, 70%);
}
.statTwo {
    font-size: 1.5rem;
    line-height: 1.5;
    padding: 2rem 2.5rem;
    border-bottom: 1px solid hsl(224, 100%, 70%);
}
.statThree {
    font-size: 1.5rem;
    line-height: 1.5;
    padding: 2rem 2.5rem;
    border-bottom: 1px solid hsl(224, 100%, 70%);
}
.statFour {
    font-size: 1.5rem;
    line-height: 1.5;
    padding: 2rem 2.5rem;
    border-bottom: 1px solid hsl(224, 100%, 70%);
}
.statHeading {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 30rem;
}
.statHeading p {
    font-size: 4rem;
    font-weight: 600;
    text-align: right;
    color: hsl(224, 100%, 100%);
}
.statComment h3 {
    font-size: 2rem;
    font-weight: 400;
    color: hsl(224, 100%, 90%);
}
.statComment p {
    font-size: 1.4rem;
    color: hsl(224, 100%, 90%);
}
footer {
    font-size: 1.2rem;
    line-height: 1.5;
    padding: 3rem 1rem;
    color: hsl(224, 100%, 95%);
}
@media screen and (min-width: 960px) {
.menuIcon {
    right: 4.5rem;
}
.closeIcon {
    right: 4.5rem;
}
.navigationList {
    font-size: 4rem;
    width: 29%;
    height: 100vh;
    background-color: hsl(228, 100%, 60%);
}
.navigationList li {
    padding-right: 5rem;
    text-align: right;
    color: hsl(0, 0%, 100%);
}
.navItem1:hover {
    text-decoration: underline;
} 
.navItem2:hover {
    text-decoration: underline;
} 
.navItem3:hover {
    text-decoration: underline;
} 
.navItem4:hover {
    text-decoration: underline;
} 
.navItem5:hover {
    text-decoration: underline;
} 
.mainContent {
    display: grid;
    grid-template-columns: 1.5fr 1fr 1fr;
    grid-template-rows: auto;
    gap: 0px 0px;
    grid-template-areas:
        "hero statOne statTwo"
        "hero statThree statFour";
}
.hero {
    padding: 5rem;
    grid-area: hero;
    border: solid 1px hsl(224, 100%, 58%);
}
.hero:hover {
        background-color: hsl(220, 100%, 55%);
}
.hero div {
    width: 50rem;
    height: 35rem;
}
.hero h1 {
    font-size: 7.5rem;
    margin-bottom: 3rem;
}
.hero p{
    font-size: 2.2rem;
}
.statOne {
        grid-area: statOne;
        border: solid 1px hsl(224, 100%, 58%);
}
.statOne:hover {
        background-color: hsl(220, 100%, 55%);
}
.statTwo {
    grid-area: statTwo;
    border: solid 1px hsl(224, 100%, 58%);
}
.statTwo:hover {
    background-color: hsl(220, 100%, 55%);
}
.statThree {
    grid-area: statThree;
    border: solid 1px hsl(224, 100%, 58%);
}
.statThree:hover {
    background-color: hsl(220, 100%, 55%);
}
.statFour {
    grid-area: statFour;
    border: solid 1px hsl(224, 100%, 58%);
}
.statFour:hover {
    background-color: hsl(220, 100%, 55%);
}

footer {
    font-size: 2rem;
    height: 7rem;
    padding: 3rem 6rem;
    display: flex;
    justify-content: space-between;
}
}