html {
    font-size: 62.5%;
    -webkit-text-size-adjust: 100%;
    -webkit-font-smoothing: antialiased;
}
*, *::before, *::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    font-family: "Inter", sans-serif;
    color: hsl(0, 0%, 100%);
    background-color: hsl(228, 100%, 58%);
    overflow-x: hidden;
}
.img {
    width: .4rem;
    height: .4rem;
}
header {
    font-size: 2.5rem;
    height: 8rem;
    padding: 3rem;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    color: hsl(0, 0%, 90%);
    border-bottom: 1px solid hsl(224, 100%, 95%);
    background-color: hsl(228, 100%, 60%);
    display: flex;
    align-items: center;
    z-index: 1000;
}
.siteName {
    font-size: 1.5rem;
    text-decoration: none;
    padding: 0;
    margin: 0;
    display: flex;
    align-items: center;
}
.siteIcon {
    font-size: 2.5rem;
    padding-bottom: .5rem;
    margin-right: .5rem;
    color: hsl(0, 0%, 100%);
}
.menuToggle {
    display: none;
}
.menuIcon {
    position: absolute;
    top: 2.5rem;
    right: 3rem;
    font-size: 3rem;
    cursor: pointer;
}
.closeIcon {
    position: absolute;
    top: 2rem;
    right: 3rem;
    font-size: 3rem;
    display: none;
}
.navigationList ul{
    padding: 3rem 0;
    position: absolute;
    top: 100%;
    left: 0;
    right: 0;
    text-align: center;
    display: none;
    background-color: hsl(228, 100%, 60%);
}
.navigationList li {
    list-style: none;
    padding: 1rem 0;
}
.menuToggle:checked ~ .menuIcon {
    display: none;
}
.menuToggle:checked ~ .closeIcon {
    display: block;
}
.menuToggle:checked ~ .navigationList ul {
    display: block;
}
.siteHeader:has(.menuToggle:checked) ~ main::before {
    content: "";
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.5);
}
.mainContent {
    width: 100%;
    margin-top: 8rem;
}
.hero {
    padding: 6rem 2.5rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    border-bottom: 1px solid hsl(224, 100%, 95%);
}
.hero h1 {
    font-size: 4.5rem;
    font-weight: 400;
    margin-bottom: 1rem;
    color: hsl(0, 0%, 100%);
}
.hero p {
    font-size: 1.8rem;
    line-height: 1.7;
    color: hsl(224, 100%, 90%);
    margin-top: 1rem;
}
.statOne {
    font-size: 1.5rem;
    line-height: 1.5;
    padding: 2rem 2.5rem;
    border-bottom: 1px solid hsl(224, 100%, 95%);
}
.statOne div {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 25rem;
}
.statOne div p {
    font-size: 4rem;
    text-align: right;
    color: hsl(0, 0%, 100%);
}
.statOne p {
    color: hsl(224, 100%, 90%);
}
.statTwo {
    font-size: 1.5rem;
    line-height: 1.5;
    padding: 2rem 2.5rem;
    border-bottom: 1px solid hsl(224, 100%, 95%);
}
.statTwo div {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 25rem;
}
.statTwo div p {
    font-size: 4rem;
    text-align: right;
    color: hsl(0, 0%, 100%);
}
.statTwo p {
    color: hsl(224, 100%, 90%);
}
.statThree {
    font-size: 1.5rem;
    line-height: 1.5;
    padding: 2rem 2.5rem;
    border-bottom: 1px solid hsl(224, 100%, 95%);
}
.statThree div {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 25rem;
}
.statThree div p {
    font-size: 4rem;
    text-align: right;
    color: hsl(0, 0%, 100%);
}
.statThree p {
    font-size: 1.4rem;
    color: hsl(224, 100%, 90%);
}
.statFour {
    font-size: 1.5rem;
    line-height: 1.5;
    padding: 2rem 2.5rem;
    border-bottom: 1px solid hsl(224, 100%, 95%);
}
.statFour div {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 25rem;
}
.statFour div p {
    font-size: 4rem;
    text-align: right;
    color: hsl(0, 0%, 100%);
}
.statFour p {
    font-size: 1.4rem;
    color: hsl(224, 100%, 90%);
}
footer {
    font-size: 1.5rem;
    line-height: 1.5;
    padding: 3rem 1rem;
    color: hsl(224, 100%, 95%);
}
@media screen and (min-width: 960px) {
   .mainContent {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        grid-template-rows: auto;
        gap: 0px 0px;
        grid-template-areas:
            "hero statOne statTwo"
            "hero statThree statFour";
    }
    .hero {
        grid-area: hero;
        border: solid 1px hsl(224, 100%, 95%);
    }
    .hero:hover {
        background-color: hsl(220, 100%, 64%);
    }
    .statOne {
        grid-area: statOne;
        border: solid 1px hsl(224, 100%, 95%);
    }
    .statOne:hover {
        background-color: hsl(220, 100%, 64%);
    }
    .statTwo {
        grid-area: statTwo;
        border: solid 1px hsl(224, 100%, 95%);
    }
    .statTwo:hover {
        background-color: hsl(220, 100%, 64%);
    }
    .statThree {
        grid-area: statThree;
        border: solid 1px hsl(224, 100%, 95%);
    }
    .statThree:hover {
        background-color: hsl(220, 100%, 64%);
    }
    .statFour {
        grid-area: statFour;
        border: solid 1px hsl(224, 100%, 95%);
    }
    .statFour:hover {
        background-color: hsl(220, 100%, 64%);
    }

    footer {
        font-size: 2rem;
        height: 10rem;
        padding: 2rem 6rem;
        display: flex;
        justify-content: space-between;
    }
}